.alice-carousel{
    width:100vw;  
    max-width: 1200px;
    height: auto;
    span{
        font-size: x-large !important;
    }
}
.alice-carousel ul li img{
    text-align: center;
    margin: auto;
    max-height:70vh;
    width: auto;
 

    
  }
  .alice-carousel__dots-item:not(.__custom){
    width: 22px !important;
    height: 22px !important;
    cursor: pointer;
    border-radius: 50%;
    background-color: #2751c7 !important;
}
.carousel-container{
    width:100%;
    position: absolute;
}