.alice-carousel{
    position: absolute;
    width:auto;
    height: auto;
    span{
        font-size: x-large !important;
    }
}
.alice-carousel ul li img{
    text-align: center;
    margin: auto;
    max-height:60vh;
    max-width: 80vw;;
    
  }
  .alice-carousel__dots-item:not(.__custom){
    width: 22px !important;
    height: 22px !important;
    cursor: pointer;
    border-radius: 50%;
    background-color: #2751c7 !important;
}
.carousel-container{
    width:100%;
    position: absolute;
}
.alice-carousel__stage-item{
    text-align: center !important;
}